.App {
  text-align: justify;
  font-size: large;
}

span {
  font-weight: bold;
  color: rgb(60, 4, 4);
}

h2 {
  color: rgb(3, 3, 63);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.StudentCard {
  border-radius: 5%;
  border: 2px solid rgb(15, 150, 234);
  background-color: rgb(168, 196, 214);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 500px;
  position: relative;
}

.StudentInfo {
  margin-top: 0;
  position: absolute;
  top: 5px;
}

.studentScore {
  border: 1px;
  border-style: dashed;
  border-radius: 10%;
  padding: 10px;
  position: absolute;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  right: 10px;
  left: 10px;

}